.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 5rem;
  background-color: var(--accent-alt);
  color: var(--light);
  width: 100%;
  height: 6rem;
}

.next-appointments-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
  justify-items: center;
  align-items: center;
  gap: 2rem 1rem;
  margin: auto;
  max-width: min(100%, 80rem);
  padding: 1rem;
}

.appointment-card {
  background-color: var(--gray);
  border-radius: 0.5rem;
  box-shadow: 0 0.3rem 0.4rem var(--transparent);
  padding: 1rem;
  width: 20rem;
  min-height: 14rem;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.appointment-card h1 {
  font-size: 1.3rem;
  font-weight: 600;
}

.appointment-details div {
  display: grid;
  grid-template-columns: 1rem 1fr;
  align-items: center;
  gap: 0.5rem;
  margin: 0.5rem 0;
  font-size: 0.9rem;
}

.appointment-card span {
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
  font-size: 0.8rem;
  background-color: var(--error);
  color: var(--light);
  padding: 0.2rem 0.4rem;
  border-radius: 0.3rem;
  box-shadow: 0 0.1rem 0.3rem var(--transparent);
}
