.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 5rem;
  background-color: var(--accent-alt);
  color: var(--light);
  width: 100%;
  height: 6rem;
}
