header {
  min-width: 100%;
  background-color: var(--accent);
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: min(100%, 1200px);
  margin: auto;
  height: 4rem;
  color: var(--light);
  position: relative;
}

.login-button-nav {
  width: 5rem;
  background-color: var(--accent-alt);
  color: var(--light);
  font-size: 1rem;
  font-weight: 500;
  border-radius: 1rem;
  padding: 0.5rem;
}

.navbar-branding {
  color: var(--light);
}

.user-menu-nav {
  display: flex;
  align-items: center;
  gap: 0.4rem;
  cursor: pointer;
  transition: all 0.2s ease-in;
}

.user-menu-nav:hover {
  filter: drop-shadow(0 0 0.4rem var(--second));
}

.user-menu-nav:hover > svg {
  animation: 1.8s infinite drop-arrow ease-in-out;
}

@keyframes drop-arrow {
  0% {
    transform: translateY(0);
  }
  80% {
    transform: translateY(0.2rem);
  }
  100% {
    transform: translateY(0);
  }
}

.dropdown-menu {
  position: absolute;
  background-color: var(--accent-alt);
  padding: 1rem 1.5rem;
  border-radius: 0 0 0.4rem 0.4rem;
  min-width: 12rem;
  z-index: 2;
  cursor: default;
  right: 0;
  top: -200%;
  opacity: 0;
  transition: all 0.3s ease-in-out;
}

.dropdown-menu ul {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}

.dropdown-menu li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  transition: all 0.2s ease-in;
  gap: 1rem;
}

.new-appointment-button {
  background-color: var(--accent);
  color: var(--light);
  padding: 0.5rem 1rem;
  border-radius: 0.3rem;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.new-appointment-button:hover {
  background-color: var(--accent);
  transform: scale(1.02);
  box-shadow: 0px 0px 0.2rem 0 var(--second);
}

.dropdown-menu li:hover {
  transform: scale(1.02);
  filter: drop-shadow(0 0 0.1rem var(--second));
}

.appointment-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 3;
  transition: all 0.2s ease-in-out;
}

@media (max-width: 40rem) {
  .navbar {
    padding: 1rem;
  }

  .dropdown-menu {
    width: 100%;
  }
}

.hero {
  min-width: 100%;
  min-height: 95vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero-content {
  width: min(30rem, 100%);
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
  align-items: center;
  text-align: center;
  padding: 0 0.5rem;
}

.hero-content h1 {
  font-size: 3rem;
  font-weight: 800;
  color: rgb(91, 91, 91);
}

.hero-content p {
  color: rgb(149, 149, 149);
}

.hero-content button {
  background-color: var(--accent-alt);
  color: var(--light);
  display: flex;
  align-items: center;
  gap: 1rem;
}

.hero-content span {
  color: var(--accent);
}

.hero-subtitle {
  font-size: 0.8rem;
  background-color: var(--second);
  padding: 0.2rem 0.5rem;
  border-radius: 0.3rem;
}

.features-section {
  min-width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  background-color: var(--gray);
  padding: 5rem 0.5rem;
}

.features-section p {
  color: rgb(91, 91, 91);
}

.features-intro {
  width: min(50rem, 100%);
  text-align: center;
}

.features-cards-container {
  display: flex;
  gap: 2rem;
  width: min(80rem, 100%);
  flex-wrap: wrap;
  justify-content: center;
}

.feature-card {
  background-color: var(--second);
  padding: 1rem 2rem;
  border-radius: 0.4rem;
  width: min(15rem, 100%);
  box-shadow: 0px 0px 0.2rem 0 var(--accent);
}

.feature-card .card-header {
  height: 6rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  margin-bottom: 1rem;
}

.feature-card .card-header > span {
  font-size: 1.2rem;
  background-color: var(--accent-alt);
  color: var(--gray);
  padding: 0.5rem;
  border-radius: 0.4rem;
}

.feature-card .card-header > h2 {
  font-size: 1.3rem;
}

.feature-card .card-content {
  text-align: center;
}

.call-to-action {
  min-width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--accent-alt);
  color: var(--light);
}

.cta-content {
  width: min(30rem, 100%);
  padding: 5rem 0.5rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
}

.cta-content h1 {
  font-size: 2.2rem;
  font-weight: 800;
}

.cta-content p {
  color: rgb(205, 205, 205);
}

.cta-content button {
  background-color: var(--accent);
  color: var(--light);
  display: flex;
  align-items: center;
  gap: 1rem;
}

.cta-content button:hover {
  box-shadow: 0 0 8px var(--accent);
}

.footer {
  width: 100%;
  background-color: var(--gray);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.links-container {
  width: min(80rem, 100%);
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 0.1rem solid var(--transparent);
  padding: 0.8rem 0.5rem;
}

.footer-brand {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.footer-brand span {
  background-color: var(--accent-alt);
  color: var(--gray);
  padding: 0.3rem;
  border-radius: 0.2rem;
}

.footer-links {
  display: flex;
  gap: 1rem;
  font-size: 0.8rem;
  color: rgb(91, 91, 91);
}

.site-rights {
  font-size: 0.8rem;
  color: rgb(91, 91, 91);
  margin: 0.5rem 0;
}

@media (width <= 40rem) {
  .hero-content h1 {
    font-size: 2.5rem;
  }

  .hero-content p {
    font-size: 0.9rem;
  }

  .feature-card {
    width: 100%;
  }

  .links-container {
    flex-direction: column;
    gap: 1rem;
  }
}
