header {
  min-width: 100%;
  background-color: var(--accent);
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: min(100%, 1200px);
  margin: auto;
  height: 4rem;
}

.login-button-nav {
  width: 5rem;
  background-color: var(--accent-alt);
  color: var(--light);
  font-size: 1rem;
  font-weight: 500;
  border-radius: 1rem;
  padding: 0.5rem;
}

.navbar-branding {
  color: var(--light);
}
