.profile-section {
  margin: auto;
  max-width: min(100%, 800px);
}

.profile-form-container {
  padding: 0.8rem;
  display: flex;
  flex-wrap: wrap;
}

.profile-form-group {
  padding: 0.5rem;
  min-width: 100%;
  display: grid;
  grid-template-columns: 1.5rem 1fr;
  grid-template-rows: 2.5rem 1fr;
  align-items: center;
}

.profile-form-group p {
  grid-column: 1 / 3;
  font-weight: 600;
}

.profile-form-group.email,
.profile-form-group.phone {
  min-width: 50%;
}

.profile-form-group input,
.profile-form-group textarea,
.profile-form-group select {
  padding: 0.6rem;
  border-radius: 0.4em;
  border: 0.1rem solid var(--transparent);
  font-size: 0.9rem;
  transition: border-color 0.3s;
}

.profile-form-group input:focus,
.profile-form-group textarea:focus,
.profile-form-group select:focus {
  outline: none;
  border-color: var(--accent);
  -webkit-form-sizing: max-content;
}

.profile-form-group.description label {
  align-self: start;
}

.profile-form-group textarea {
  height: 6rem;
  resize: none;
}

@media (max-width: 35rem) {
  .profile-form-group.email,
  .profile-form-group.phone {
    min-width: 100%;
  }
}
